

<h2 class="blogTitle">Scribbler Anthology of Blog Posts Extraordinaire by Oridinary Folk</h2>

<h3>  <%= link_to "create post", new_post_path %>
</h3>

<ul>
  <% @posts.each do |post| %>
  <li class = "post_list">
    <span class = "title"><%= post.title %></span>
    posted on <%= post.date %>,
    <%= link_to "read", post %>
  </li>
  <% end %>
</ul>
